<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head')%>
<body>
    <header>
        <nav>
            <img src="./img/icono.jpg" alt="" class="icono">
        </nav>
    </header>
    <ul class="menu-navegacion">
        <li><a href="/users/inicio-sesion" class="submenu">Inicio de Sesion</a></li>
        <li><a href="/users/registro-usuario" class="submenu">Registro</a></li>
        <li><a href="#" class="submenu">Contacto</a></li>
    </ul>
    <h1 class="titulo">Bienvenid@!!!</h1>
</body>
</html>